<section class="section">
  <h1 class="title">Section</h1>
  <h2 class="subtitle">
    A simple container to divide your page into <strong>sections</strong>, like the one you're
    currently reading. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eligendi non
    corporis perspiciatis iusto magni impedit molestiae quam odio quia amet. Odio et amet a ullam,
    suscipit voluptate neque eius, accusantium veritatis expedita, voluptatem quasi qui delectus
    minima reiciendis officia obcaecati corporis.
  </h2>
  <div class="columns is-multiline">
    {{#if books.length}}
    {{#each books}}
    <div class="column is-3">
      <div class="card">
        <div class="card-image">
          <figure class="image is-4by3">
            <img src="{{ image }}" alt="Placeholder image" />
          </figure>
        </div>
        <div class="card-content">
          <div class="media">
            <div class="media-content">
              <p class="title is-4">{{ title }}</p>
              <p class="subtitle is-6 price">{{ price }}</p>
            </div>
          </div>

          <div class="content">
            {{ description }}

            <br />
            <br />
            <a href="/all/{{ id }}" target="_blank" class="button is-light is-fullwidth">
              More info
            </a>
            <br />
            <br />
            <a href="/all/{{ id }}/edit?allow=true" class="button is-text is-fullwidth"> Edit </a>
            <br />
            <br />
            <form action="/cart/add" method="POST">
              <input type="hidden" name="id" value="{{ id }}" />
              <button type="submit" class="button is-text is-fullwidth">Add to cart</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    {{/each}}
    {{else}}
    <div class="column is-full">
      <p class="subtitle has-text-centered">Books not found!</p>
    </div>
    {{/if}}
  </div>
</section>
